@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --muted: 0 0% 100%;

  --popover: 0 0% 100%;

  --text-color: 93 17% 10%;

  /* across teal */
  --accent: 166 92% 70%;
  /* gray */
  --border: 220 14% 96%;

  --ring: 267 57% 53%;

  /* Leaving this here if we want to have different status colors for light/dark */
  --success: 119 90% 35%;
  --destructive: 0 100% 65%;
}

.dark {
  --background: 230 6% 19%;
  --foreground: 231.43 6.31% 21.76%;
  --muted: 231.43 6.31% 21.76%;

  --popover: 240 5.88% 13.33%;

  --text-color: 204 30% 83%;

  /* across teal */
  --accent: 166 92% 70%;

  /* gray */
  --border: 226.67 5.52% 31.96%;
  --border-secondary: 226.67 6.77% 26.08%;

  --ring: 267 57% 53%;

  /* Leaving this here if we want to have different status colors for light/dark */
  --success: 133 56% 55%;
  --destructive: 0 95% 66%;
}

/* remove arrows from number input */
@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: textfield !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  span,
  div {
    @apply text-text font-light;
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 267 57% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 267 57% 53%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 267 57% 53%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}